<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>404</title>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class = "plup">

        <div class="ploaie_boabe">
            <img src="img/O_boaba.png" alt="" id="prim">
        </div>



    <div class='wrap_all'>
        <div class= "coloane">
            <div class=" uh-oh ">
                <h1>Uh-Oh...</h1>
            </div>

            <div class="imgs">
                <div class = "drop">
                    <img src="img/coffee.png" alt="", class = "coffee" >
                </div>
                <div class = "full">
                    <img src="img/coffee22.png" alt="" class = "coffee">
                </div>
            
            </div>
            <div class= "page_not_found">
                <div><h1>4</h1> <h1>0</h1> <h1>4</h1></div>
                <h2>PAGE NOT FOUND</h2>
                <h3>We are sorry, but the page you are looking for has not been found</h3>
            </div>

        </div>
        
        
        

    </div>
</div>

    <script src="js/404.js"></script>
</body>

</html>