<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Despre Noi</title>
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="dim_logo"><img src="/img/circle-cropped.png" alt="logo" class="logo_mare logo"></div>
        <div class="dim_a"><a href="acasa.html"> ACASA</a><div class="under"></div></div>
        <div class="dim_a"><a href="#"> DESPRE NOI </a><div class="under"></div></div>
        <div class="dim_a"><a href="contact.html"> CONTACT </a><div class="under"></div></div>
        <div class="dim_a"><a href="artists.html"> ARTA </a><div class="under"></div></div>
        <div class="dim_a your_acc"><a href="your_acc.html"> CONTUL TAU </a><div class="under"></div></div>
        <div class="dropdown dim_a">
            <a href="meniu.html" class="dropbtn">MENIU</a>
            <div class="dropdown-content">
              <button class="option1">Cafea si Ceai</button>
              <button class="option2">Bauturi Reci</button>
              <button class="option3">Mancare</button>
            </div>
        </div>
    </nav>
    

    <main>
        <div class="paragraf paragraf1">

            <div class="text_paragraf">
                <h1>Despre Noi</h1>
                <p>Mai mult decat o cafenea, o comunitate, un loc in care sa te relaxezi, sa citesti o carte sau sa desenezi, Forma is the brainchild of a wanderer, an art lover and a taste alchemist. A place dedicated to impassioned people. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore error quia cupiditate quas iure eos temporibus non. Dolorem, saepe ipsum et, molestiae laudantium illum aperiam harum, deleniti incidunt perspiciatis cumque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta neque est provident repellendus sit unde sequi voluptatibus quam illo repudiandae, possimus molestias suscipit sed fuga blanditiis. Reprehenderit, ea aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ex alias, rerum eum aut, qui eligendi reiciendis illum tempore nemo temporibus impedit maiores consequuntur eos exercitationem autem deserunt voluptas voluptatibus. </p></div>
            <div class="img_paragraf"><img src="/img/poza19(2).jpg" class="img_local" alt=""></div>

        </div>

        <div class="paragraf paragraf2">
            <div class="text_paragraf">
                <h1>Inspiratie Artistica</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eligendi, soluta numquam, delectus dolores vel aspernatur consectetur perferendis repudiandae at ea quidem sunt, deserunt tempora. Totam consequatur velit illo! Nemo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis maxime dolorum, rerum aliquam hic cupiditate, iste accusamus ipsam sint ipsum similique, modi asperiores quibusdam natus vero ut tempora eaque tempore.</p>
            </div>
            <div class="img_paragraf"> <img src="/img/paintings-dorina-costras-exhibition-705x546.jpg" alt=""></div>

        </div>

<!-- galerie -->










    </main>


    <footer>
        <div class="date_footer">
            <div class="prima_parte">
            <div class="contact">
                <h2>Contact</h2>
                <p>0733 136 163</p>
                <p>forma_bucuresti@coffeehouse.com</p>
            </div>
            <div class="locatie">
                <h2>Locatie</h2>
                <a href="https://goo.gl/maps/aHoLmcGCDarKXSzC7">Strada Ion Ghica 4, București 030167</a>
            </div>
            <div class="reviews">
                <h2>Articole si Reviews</h2>
                <a href="https://www.tripadvisor.com/Restaurant_Review-g294458-d17610771-Reviews-Forma-Bucharest.html"> Trip Advisor</a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,1,,,"></a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,3,,,">Scrie un Review</a>
            </div>
            </div>
            <div class="social">
                <h2>Social Media</h2>
                <a href="https://www.facebook.com/FORMAbucharest/"><img src="/img/iconmonstr-facebook-6-32.png" alt=""></a>
                <a href="https://www.instagram.com/forma_bucharest/"><img src="/img/iconmonstr-instagram-13-32.png" alt=""></a>
                <a href="https://twitter.com/4maart?lang=en"><img src="/img/iconmonstr-twitter-3-32.png" alt=""></a>
            </div>
            <div id="heart"><a href="/img/poza2.png"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg></a></div>
        </div>
        <div class="copyright">
            <p>COPYRIGHT © 2020 FORMACOFFEE.</p>
            <p> ALL RIGHTS RESERVED FORMA COFFEE SHOP AND ART GALERY.</p>
        </div>

        
    </footer>

    <script src="/java_tema2/login.js"></script>
    <script src="/js/comun.js"></script>
    <script src="/js/about.js"></script>
    
</body>
</html>