<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/artists.css">
    <link rel="stylesheet" href="/css/artistspoze.css/artists1.css">
    <link rel="stylesheet" href="/css/artistspoze.css/artists2.css">
    <link rel="stylesheet" href="/css/artistspoze.css/artists3.css">
    <link rel="stylesheet" href="/css/artistspoze.css/artists4.css">
    <link rel="stylesheet" href="/css/formular_inscriere.css">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arta</title>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Pinyon+Script&family=Qwigley&display=swap" rel="stylesheet">
    
    <script src="/js/anim.js"></script>
</head>
<body>
    <nav>
        <div class="dim_logo"><img src="/img/circle-cropped.png" alt="logo" class="logo_mare logo"></div>
        <div class="dim_a"><a href="acasa.html"> ACASA</a><div class="under"></div></div>
        <div class="dim_a"><a href="about.html"> DESPRE NOI </a><div class="under"></div></div>
        <div class="dim_a"><a href="contact.html"> CONTACT </a><div class="under"></div></div>
        <div class="dim_a"><a href="#"> ARTA </a><div class="under"></div></div>
        <div class="dim_a your_acc"><a href="your_acc.html"> CONTUL TAU </a><div class="under"></div></div>
        <div class="dropdown dim_a">
            <a href="meniu.html" class="dropbtn">MENIU</a>
            <div class="dropdown-content">
              <button class="option1">Cafea si Ceai</button>
              <button class="option2">Bauturi Reci</button>
              <button class="option3">Mancare</button>
            </div>
        </div>
    </nav>
    
    <div class="no">
        <div class="show mm">
            <div class="the_one mainform">
     
                <form>
        
                <h1>Sign Up</h1>
        
                <!-- <label for="nume-prenume"><img src="img/iconmonstr-user-20-24.png" alt="img cu om"></label> -->
                <input class="inputt" type="text" name="nume-prenume" id="nume_sign" placeholder="Your name">
        
                <br><br>
        
                <!-- <label for="email"><img src="img/iconmonstr-email-11-32.png" alt=""></label> -->
                <input class="inputt" type="email" id="email_sign" placeholder="Email" name="email">
        
                <br><br>
        
                <!-- <label for="password"><img src="img/iconmonstr-lock-22-24.png" alt=""></label> -->
                <input class="inputt" type="password" id="password_sign" placeholder="Enter password" name="password">
        
                <br><br>
        
                <!-- <label for="rpassword"><img src="img/iconmonstr-lock-31-24.png" alt=""></label> -->
                <input class="inputt" type="password" id="rpassword_sign" placeholder="Repeat password" name="rpassword" >
        
                <br><br>
            
                <input type="checkbox" id="termeni" >
                <label for="termeni">I agree to <a href="#">Terms & Conditions</a></label>
    
                <input id="buton_sign" type="submit" value="Sign Up">
    
                </form>

                <img src="/img/iconmonstr-x-mark-7-240.png" alt="" class="inchide">
            
        
            </div>
            
            <p class="log_in">Already have an account? <a href="#">Log in</a></p>
        </div>

        <div class="dontShow mm">
            <div class=" other mainform log">
     
                <form>
        
                <h1>Log In</h1>
                
        
                <!-- <label for="email"><img src="img/iconmonstr-email-11-32.png" alt=""></label> -->
                <input class="inputt" type="email" id="email_log" placeholder="Email" name="email" >
        
                <br><br>
        
                <!-- <label for="password"><img src="img/iconmonstr-lock-22-24.png" alt=""></label> -->
                <input class="inputt" type="password" id="password_log" placeholder="Enter password" name="password">
        
                <br><br>
        
            
                <input type="checkbox" id="remember_me" >
                <label for="remember me">Remember me</a></label>
    
                <input id="buton_log" type="submit" value="Log in">
    
                </form>

                <img src="/img/iconmonstr-x-mark-7-240.png" alt="" class="inchide">
            
        
            </div>

            <p class="sign_in">Don't have an account? <a href="#">Sign up</a></p>
    
        </div>
    
    </div>

    

    <main>
        <div class="tot nr_oferta oferta_4 in_focus">
            <div class="img_promo"><img src="/img/oie_Q9GkfJvIav7H.png" alt=""></div>
            <div class="text_promo">
                <h5><span class="rr">This week's theme: </span></h5>
                <h5><span class="rr">Undercover</span></h5>
                <button class="submitart">Submit Your Art</button> 
                <button class="poplog log_in_pop_btn">Log in for a better excperience</button>
                <!-- <h5>Submit your art and become a part of our community. Share your passion with other artists and spread positivity on our page's <span><a href="artists.html">Artists</a></span> section.</h5> -->
            </div>
        </div>

        


        <div class=" tot deflexat off"><div class="liniuta"></div><div><h1>Concept</h1></div><div class="liniuta"></div></div>

        <div class=" tot concept">Tematici noi saptamanal. Accepta provocarile noastre si trimite-ne desenele tale inspirate de tema curenta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quidem nulla quae fugiat quam perferendis doloremque deleniti ullam ut aperiam minima minus, nemo omnis nihil nisi maiores, cum sapiente iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ullam doloribus perferendis eligendi illo qui consectetur assumenda quae eaque, aut eos culpa odit, eius, consequatur aperiam ut. Impedit, dolor adipisci? </div>

        
        <div class=" tot deflexat off"><div class="liniuta"></div><div><h1>Picturi Expuse</h1></div><div class="liniuta"></div></div>
        <div class="imagini tot">
            <div>
                <img src="/img/poza667.jpg" alt="" class="background1">
                <img src="/img/poza667.jpg" alt="" class="main1">
            </div>
            <div id="mell"><h6 id="mel">Melonny Blake</h6></div>
        
            
            <div>
                <img src="/img/poza679.jpg" alt="" class="background2">
                <img src="/img/poza679.jpg" alt="" class="main2">
            </div>

            <div id="courtt"><h6 id="court">Courtney Bate</h6></div>

            <div>
                <img src="/img/poza668.jpg" alt="" class="background3">
                <img src="/img/poza668.jpg" alt="" class="main3">
            </div>

            <div id="timm"><h6 id="tim">Timmothy Martin</h6></div>

            <div>
                <img src="/img/poza678.jpg" alt="" class="background4">
                <img src="/img/poza678.jpg" alt="" class="main4">
            </div>

            <div id="mimii"><h6 id="mimi">Miruna Nastu</h6></div>
    
    
        </div>


        <div class=" tot deflexat off"><div class="liniuta"></div><div><h1>Your Art</h1></div><div class="liniuta"></div></div>

        <div class="yourart tot">
            <table>
            <tr>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.49 PM.jpeg" alt=""></td>
                <td><img src="/img/658135841e2111055eca8b1b1a072988_how-i-lit-my-life-on-fire-how-you-can-too-self-portrait-_600-805.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.40 PM.jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.38 PM (3).jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.04.38 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.38 PM.jpeg" alt=""></td>
            </tr>
            <tr>
                
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.38.23 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.38.21 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.41 PM (3).jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.34.00 PM.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.50 PM (1).jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.33 PM.jpeg" alt=""></td>          
            </tr>
            <tr>    
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.42 PM.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.59 PM (3).jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.49 PM (1).jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.59 PM (1).jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.48 PM.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.58 PM.jpeg" alt=""></td>
            </tr>
            <tr>    
                
                <td><img src="/img/wap/gsefugehgwefhkjwefhijl - Copy.jpeg" alt=""></td>
                 <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.59 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.06.24 PM (1).jpeg" alt=""></td>
            </tr>
            
            <tr>    
                 <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.35 PM.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.22 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.10.37 PM.jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.43 PM.jpeg" alt=""></td> 
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.06.24 PM (2).jpeg" alt=""></td> 
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.44 PM.jpeg" alt=""></td>
                
            </tr>
            
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.42.02 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.40 PM.jpeg" alt=""></td>
                <td><img src="/img/WhatsApp Image 2020-04-10 at 7.38.34 PM.jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.41 PM (1).jpeg" alt=""></td>
                <td><img src="/img/WhatsApp Image 2020-04-10 at 7.38.02 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.38 PM.jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.43 PM (1).jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.42 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.43 PM (2).jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.37 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.41 PM (2).jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.38 PM (2).jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.39 PM.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.33.26 PM.jpeg" alt=""></td>
                
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.39 PM (1).jpeg" alt=""></td>
            </tr>
            
            <tr>    
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.41 PM.jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.42 PM (2).jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 7.57.42 PM (1).jpeg" alt=""></td>
            </tr>
            <tr>    
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.39.54 PM.jpeg" alt=""></td>
                <td><img src="/img/wap/WhatsApp Image 2020-04-02 at 8.35.49 PM (2).jpeg" alt=""></td>
                <td><img src="/img/wapandy/WhatsApp Image 2020-04-10 at 8.03.37 PM (1).jpeg" alt=""></td>
            </tr>
            


            
            </table>

        </div>


        <div>
            <div class=" tot deflexat off"><div class="liniuta"></div><div><h1>Trimite-ne desenul tau</h1></div><div class="liniuta"></div></div>
            <form class="submit">
                <div>

                    <div><input type="text" name="nume" id="nume" placeholder="Nume"></div>
                    <div><input type="email" name="email" id="email" placeholder="Email"></div>
                </div>

                <div><input type="text" name="poza" id="art" placeholder="Link catre imaginea dorita"></div>
                <div><button onclick="submitt()" id="subm">Trimite</button></div>
                    
            </form>
        </div>

    </main>










    <footer>
        <div class="date_footer">
            <div class="prima_parte">
            <div class="contact">
                <h2>Contact</h2>
                <p>0733 136 163</p>
                <p>forma_bucuresti@coffeehouse.com</p>
            </div>
            <div class="locatie">
                <h2>Locatie</h2>
                <a href="https://goo.gl/maps/aHoLmcGCDarKXSzC7">Strada Ion Ghica 4, București 030167</a>
            </div>
            <div class="reviews">
                <h2>Articole si Reviews</h2>
                <a href="https://www.tripadvisor.com/Restaurant_Review-g294458-d17610771-Reviews-Forma-Bucharest.html"> Trip Advisor</a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,1,,,"></a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,3,,,">Scrie un Review</a>
            </div>
            </div>
            <div class="social">
                <h2>Social Media</h2>
                <a href="https://www.facebook.com/FORMAbucharest/"><img src="/img/iconmonstr-facebook-6-32.png" alt=""></a>
                <a href="https://www.instagram.com/forma_bucharest/"><img src="/img/iconmonstr-instagram-13-32.png" alt=""></a>
                <a href="https://twitter.com/4maart?lang=en"><img src="/img/iconmonstr-twitter-3-32.png" alt=""></a>
            </div>
            
            <div id="heart"><a href="/img/poza2.png"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg></a></div>
        </div>
        <div class="copyright">
            <p>COPYRIGHT © 2020 FORMACOFFEE.</p>
            <p> ALL RIGHTS RESERVED FORMA COFFEE SHOP AND ART GALERY.</p>
        </div>
    </footer>


   <script src="/java_tema2/login.js"></script>
    <script src="/js/comun.js"></script>
    <script src="/js/artists.js"></script>
    <script src="/java_tema2/signup.js"></script>
 
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.13/dist/sweetalert2.all.js"></script>
</body>
</html>