<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <title>Contact</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="dim_logo"><img src="/img/circle-cropped.png" alt="logo" class="logo_mare logo"></div>
        <div class="dim_a"><a href="acasa.html"> ACASA</a><div class="under"></div></div>
        <div class="dim_a"><a href="about.html"> DESPRE NOI </a><div class="under"></div></div>
        <div class="dim_a"><a href="#"> CONTACT </a><div class="under"></div></div>
        <div class="dim_a"><a href="artists.html"> ARTA </a><div class="under"></div></div>
        <div class="dim_a your_acc"><a href="your_acc.html"> CONTUL TAU </a><div class="under"></div></div>
        <div class="dropdown dim_a">
            <a href="meniu.html" class="dropbtn">MENIU</a>
            <div class="dropdown-content">
              <button class="option1">Cafea si Ceai</button>
              <button class="option2">Bauturi Reci</button>
              <button class="option3">Mancare</button>
            </div>
        </div>
    </nav>






    <main>

        <div class="wrapper">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11395.888345856281!2d26.1010876!3d44.4337348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7b3a91b5e1501aa!2sFORMA%20Coffeshop%20%26%20Art%20Gallery!5e0!3m2!1sen!2sro!4v1586101809619!5m2!1sen!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""  aria-hidden="false" tabindex="0" class="deedit"></iframe>

            </div>


            <div class="contact_date">
                <div class="contact_div1">
                    <div>
                        <h1>Locatie</h1>
                        <p>Strada Ion Ghica 4, București 030167</p>
                    </div>
                    <div>
                        <h1>Contact</h1>
                        <p>0733 136 163</p>
                        <p>forma_bucuresti@coffeehouse.com</p>
                    </div>
                </div>
                    <div class="social sh">
                        <a href="https://www.facebook.com/FORMAbucharest/"><img src="/img/iconmonstr-facebook-6-32.png"  alt=""></a>
                        <a href="https://www.instagram.com/forma_bucharest/"><img src="/img/iconmonstr-instagram-13-32.png"  alt=""></a>
                        <a href="https://twitter.com/4maart?lang=en"><img src="/img/iconmonstr-twitter-3-32.png" alt=""></a>
                    </div>
                
            </div>


        </div>

        <div class="formular">
            <form>

                <h1>Scrie-ne un mesaj</h1>
            
            

                <div> 
                    <div><input class="inputt" type="text" name="nume-prenume" id="nume" placeholder="Nume" required></div>

                    <div><input class="inputt" type="text" name="nume-prenume" id="prenume" placeholder="Prenume" required></div>

                </div>
                <div>

                    <div><input class="inputt" type="email" id="email" placeholder="Email" name="email" required></div>
            

                    <div><input class="inputt" type="text" name="telefon" id="telefon" placeholder="Numar de Telefon" required></div>
                </div>
                <div class="divmesaj">
                    <textarea name="mesaj" id="mesaj" cols="30" rows="10" placeholder="Mesajul tau..."></textarea>
                    <!-- <input class="inputt" type="text" name="mesaj" id="mesaj" placeholder="Mesajul tau..." required> -->
                </div>
                <div class="divbuton">

                <input id="buton" type="submit" value="Trimite">
                </div>

            
            </form>

        </div>





    </main>









    <footer>
        <div class="date_footer">
            <div class="prima_parte">
            <div class="contact">
                <h2>Contact</h2>
                <p>0733 136 163</p>
                <p>forma_bucuresti@coffeehouse.com</p>
            </div>
            <div class="locatie">
                <h2>Locatie</h2>
                <a href="https://goo.gl/maps/aHoLmcGCDarKXSzC7">Strada Ion Ghica 4, București 030167</a>
            </div>
            <div class="reviews">
                <h2>Articole si Reviews</h2>
                <a href="https://www.tripadvisor.com/Restaurant_Review-g294458-d17610771-Reviews-Forma-Bucharest.html"> Trip Advisor</a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,1,,,"></a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,3,,,">Scrie un Review</a>
            </div>
            </div>
            <div class="social">
                <h2>Social Media</h2>
                <a href="https://www.facebook.com/FORMAbucharest/"><img src="/img/iconmonstr-facebook-6-32.png" alt=""></a>
                <a href="https://www.instagram.com/forma_bucharest/"><img src="/img/iconmonstr-instagram-13-32.png" alt=""></a>
                <a href="https://twitter.com/4maart?lang=en"><img src="/img/iconmonstr-twitter-3-32.png" alt=""></a>
            </div>
            
            <div id="heart"><a href="/img/poza2.png"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg></a></div>
        </div>
        <div class="copyright">
            <p>COPYRIGHT © 2020 FORMACOFFEE.</p>
            <p> ALL RIGHTS RESERVED FORMA COFFEE SHOP AND ART GALERY.</p>
        </div>
    </footer>
<script src="/java_tema2/login.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/comun.js"></script>
    

</body>
</html>