<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/meniu.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meniu</title>
</head>
<body>
    <nav>
        <div class="dim_logo"><img src="/img/circle-cropped.png" alt="logo" class="logo_mare logo"></div>
        <div class="dim_a"><a href="acasa.html"> ACASA</a><div class="under"></div></div>
        <div class="dim_a"><a href="about.html"> DESPRE NOI </a><div class="under"></div></div>
        <div class="dim_a"><a href="contact.html"> CONTACT </a><div class="under"></div></div>
        <div class="dim_a"><a href="artists.html"> ARTA </a><div class="under"></div></div>
        <div class="dim_a your_acc"><a href="your_acc.html"> CONTUL TAU </a><div class="under"></div></div>
        <div class="dropdown dim_a">
            <a href="#" class="dropbtn e_meniu">MENIU</a>
            <div class="dropdown-content">
              <button class="option1">Cafea si Ceai</button>
              <button class="option2">Bauturi Reci</button>
              <button class="option3">Mancare</button>
            </div>
        </div>
        
        <p class="optiune_aleasa"></p>
    </nav>


    <main>
        <div class="pencil_div off">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="pencil off"> 
                <path 
                    d="M1.438 16.872l-1.438 7.128 7.127-1.438 12.642-12.64-5.69-5.69-12.641 12.64zm2.271 2.253l-.85-.849 11.141-11.125.849.849-11.14 11.125zm20.291-13.436l-2.817 2.819-5.69-5.691 2.816-2.817 5.691 5.689z" />
            </svg>
        </div>

        <div class="little-category div1">
            <div class="lista_bauturi"><h3>Meniu</h3></div>
            
            <div class="imagine impar"><img src="/img/poza1.png" alt="" class=""></div>
        </div>

        <div class="big-category" id="cafea-ceai">
            <div class="deflexat"><div class="liniuta"></div><h1>Cafea si Ceai</h1><div class="liniuta"></div></div>
            <div class="little-category div2" id="cafea">
                <div class="imagine divv0 par">
                    <img src="/img/poza22.jpg" alt="" class="in_focus">
                    <img src="/img/espresso.jpg" alt="" class="not_in_focus">
                    <img src="/img/Kona+Coffee+and+Tea+Cafe-Drinks.jpg" alt="" class="not_in_focus">
                </div>
                <div class="lista_bauturi">
                    <div>
                    <div class="par">
                        <h2>Espresso</h2>
                        <ul>
                            <li id = "h1">ESPRESSO</li>
                            <li id = "h2">DOUBLE ESPRESSO</li>
                            <li id = "h3">LONG BLACK</li>
                            <li id = "h4">ESPRESSO FREDDO</li>
                        </ul>  
                    </div>

                    <div class="impar">
                        <h2>Coffee & Milk</h2>                            
                        <ol>
                            <li id = "h5">FLAT WHITE</li>
                            <li id = "h6">CAPPUCCINO</li>
                            <li id = "h7">LATTE</li>
                            <li id = "h8">FLAVORED LATTE</li>
                            <li id = "h9">SKINNY LATTE</li>
                        </ol>

                    </div>
                    </div>
                    <div>
                    <div class="par">
                        <h2>Frapes</h2>
                        <ul>
                            <li id = "h10">ESPRESSO FRAPPE</li>
                            <li id = "h11">VANILLA BEAN FRAPPE</li>
                            <li id = "h12">MOCHA CHIP FRAPPE</li>
                            <li id = "h13">WHITE CHOCOLATE FRAPPE</li>
                            <li id = "h14">CARAMEL CRUNCH FRAPPE</li>
                            <li id = "h15">CHOCOLATE FRAPPE</li>
                            <li id = "h16">CHAI FRAPPE</li>
                        </ul>
                    </div>

                    <div class="impar">
                        <h2>Brew Coffee</h2>                            
                        <ol>
                            <li id = "h17">CAFE AU LAIT</li>
                            <li id = "h18">FILTER COFFEE</li>
                            <li id = "h19">COLD BREW ORIGINAL</li>
                            <li id = "h20">COLD BREW LATTE</li>
                            <li id = "h21">COLD BREW TONIC</li>
                        </ol>

                    </div> 
                    </div> 
                </div>
            </div>

            <div class="little-category div3">
               
                <div class="lista_bauturi">
                    <div>
                    <div class="par">
                        <h2>Ceai Negru</h2>
                        <ul>
                            <li id = "h22">Earl Grey Excelsior</li>
                            <li id = "h23">Spicy Chai</li>
                            <li id = "h24">Caramel Cream</li>
                        </ul>
                    </div>


                    <div class="impar">
                        <h2>Infuzii de fructe</h2>
                        <ul>
                            <li id = "h25">Sun Fruits</li>
                            <li id = "h26">Turkish Apple</li>
                            <li id = "h27">Happy Orange</li>
                        </ul>
                    </div>
                    </div>
                    <div>
                    <div class="par">
                        <h2>Ceai Verde</h2>
                        <ul>
                            <li id = "h28">Pink Tropics</li>
                            <li id = "h29">Sencha Lemon</li>
                            <li id = "h30">Genmaicha</li>

                        </ul>
                    </div>

                    <div class="impar">
                        <h2>Ceai Oolong</h2>
                        <ul>
                            <li id = "h31">Oolong Ginseng</li>
                            <li id = "h32">Oolong Maple Walnut</li>
                            <li id = "h33">Oolong Floare de Soc</li>
                        </ul>
                    </div>
                    </div>


                    
                </div>
                 <div class="imagine divv1 impar">
                    <img src="/img/poza25.jpg" alt="" class="in_focus">
                    <img src="/img/Untitled.png" alt="" class="not_in_focus">
                </div>
                 
            </div>
        </div>

        

        <div id="racoritoare">

            <div class=" big-category">
                <div class="deflexat"><div class="liniuta"></div><h1>Bauturi Reci</h1><div class="liniuta"></div></div>
                <div class=" little-category div4" id="ceai">
                <div class="imagine divv2 par">
                    <img src="/img/poza22(2).jpg" alt="" class="in_focus">
                    <img src="/img/poza23.jpg" alt="" class="not_in_focus">
                    <img src="/img/poza24.jpg" alt="" class="not_in_focus">
                </div>
                <div class="lista_bauturi">
                    <div>
                    <div class="par">
                        <h2>Smoothie</h2>
                        <ul>
                            <li id = "h36">Fruit Ninja</li>
                            <li id = "h37">Berry-San</li>
                            <li id = "h38">Brave Samurai</li>
                            <li id = "h39">Pink Yang</li>
                        </ul>
                    </div>

                    <div class="impar">
                        <h2>Racoritoare</h2>
                        <ul>
                            <li id = "h40">Dorna mică</li>
                            <li id = "h41">Dorna mare</li>
                            <li id = "h42">Coca-Cola</li>
                            <li id = "h43">Coca-Cola Zero</li>
                            <li id = "h44">Coca-Cola </li>
                            <li id = "h45">Fanta</li>
                            <li id = "h46">Kinley / Bitter Lemon</li>
                            <li id = "h47">Santal</li>
                            <li id = "h48">Schweppes</li>
                            <li id = "h49">Sprite</li>
                            <li id = "h50">Fuse tea</li>
                            <li id = "h51">Piersici & hibiscus</li>
                            <li id = "h52">Red Bull</li>
                        </ul>

                    </div>
                    </div>
                    <div class="par">
                        <h2>Fresh</h2>
                        <ul>
                            <li id = "h53">Fresh de portocale</li>
                            <li id = "h54">Fresh de citrice</li>
                            <li id = "h55">Fresh de mere, portocale și ghimbir</li>
                            <li id = "h56">Fresh de banane și portocale</li>
                            <li id = "h57">Fresh de grapefruit</li>
                        </ul>
                    </div>

                </div>
                </div>
            </div>


        </div>
        

        <div id="mancare">
            <div class=" big-category">
                <div class="deflexat"><div class="liniuta"></div><h1>Sandwich-uri si salate</h1><div class="liniuta"></div></div>
                <div class="little-category div5">
                <div class="lista_bauturi">
                    <div>
                    <div class="par">
                        <h2>Salate</h2>
                        <ul>
                            <li id = "h58">Salata Fresh Protein</li>
                            <li id = "h59">Fresh Bowl Omega</li>
                            <li id = "h60">Salata Quinoa Thai</li>
                            <li id = "h61">Salata Ton</li>
                            <li id = "h62">Salata Pui si Parmezan</li>
                            
                        </ul>
                    </div>

                    <div class="impar">
                        <h2>Sandwich-uri</h2>
                        <ul>
                            <li id = "h63">Sandwich cu Humus</li>
                            <li id = "h64">Sandwich cu Ton</li>
                            <li id = "h65">Sandwich cu Pui</li>
                            <li id = "h66">Bagheta Mozzarella si Pesto</li>
                            <li id = "h67">Bagheta cu Branza De capra</li>
                            <li id = "h68">Bagel Cu Somon</li>
                        </ul>
                    </div>
                    </div>

                </div>
                <div class="imagine impar"><img src="/img/Untitled2.png" alt=""></div>
</div>
            </div>


        </div>
















    </main>




    









    <footer>
        <div class="date_footer">
            <div class="prima_parte">
            <div class="contact">
                <h2>Contact</h2>
                <p>0733 136 163</p>
                <p>forma_bucuresti@coffeehouse.com</p>
            </div>
            <div class="locatie">
                <h2>Locatie</h2>
                <a href="https://goo.gl/maps/aHoLmcGCDarKXSzC7">Strada Ion Ghica 4, București 030167</a>
            </div>
            <div class="reviews">
                <h2>Articole si Reviews</h2>
                <a href="https://www.tripadvisor.com/Restaurant_Review-g294458-d17610771-Reviews-Forma-Bucharest.html"> Trip Advisor</a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,1,,,"></a>
                <a href="https://www.google.com/search?safe=active&sxsrf=ALeKk00Qip3uXbMOUx1_sfOMEYcfMx8Ctw%3A1585687811718&ei=A62DXpe0K876qwGrvYDAAw&q=forma+coffee+shop+and+art+gallery+reviews&oq=forma+coffee+shop+and+art+gallery+REV&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgATIFCCEQoAE6BAgjECc6BggAEBYQHlCaKljbM2COPWgAcAB4AIAB0QGIAYEIkgEFMC40LjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab#lrd=0x40b1ff71c53f35f5:0xf7b3a91b5e1501aa,3,,,">Scrie un Review</a>
            </div>
            </div>
            <div class="social">
                <h2>Social Media</h2>
                <a href="https://www.facebook.com/FORMAbucharest/"><img src="/img/iconmonstr-facebook-6-32.png" alt=""></a>
                <a href="https://www.instagram.com/forma_bucharest/"><img src="/img/iconmonstr-instagram-13-32.png" alt=""></a>
                <a href="https://twitter.com/4maart?lang=en"><img src="/img/iconmonstr-twitter-3-32.png" alt=""></a>
            </div>
            
            <div id="heart"><a href="/img/poza2.png"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg></a></div>
        </div>
        <div class="copyright">
            <p>COPYRIGHT © 2020 FORMACOFFEE.</p>
            <p> ALL RIGHTS RESERVED FORMA COFFEE SHOP AND ART GALERY.</p>
        </div>
    </footer>
<script src="/java_tema2/login.js"></script>
    <script src="/js/comun.js"></script>
    
    <script src="/js/meniu.js"></script>

</body>
</html>