body{
    background-color: #0e0314;
    color:white;
}
main{
    position: relative;
}

.liniuta{
    background: white;
}

.deflexat{
    text-align: center;
}

.wrap_all{
    padding: 50px 0px;
    box-sizing: border-box;
    overflow: hidden;
}



.wrap_all h1{
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
}

.wrap_pics{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-items: center;
}

.wrap_pics img{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: auto 0;
    cursor: pointer;
}

.wrap_pics img#plus{
    width: 30%;
}

.settings{
    position: absolute;
    right:50px;
    top: 50px;
    border: 3px solid white;
    width:30px;
    height:30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.liniute span{
    width: 20px;
    height: 3px;
    background: white;
    border: 0px;
    display: block;
    margin: 3px 0;
    margin-left: auto;
    margin-right: auto;
}

div.liniute{
    padding: 4px 0px;
}

.wrap_span{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrap_span div.liniute{
    width: 100%;
}

.settings:hover{
    right:35px;
    width: 60px;
    height: 220px;
    border-radius: 100px;
    background-color:#0e0314;
}

.settings .options{
    padding: 20px 0;
}

.settings h2{
    font-size: 15px;
    text-align: center;
}



.byee{transition: 0.1s ease-in-out;
}
.settings:hover  .liniute .byee{
    height: 0px;
} 
 .left{
    transition: transform 0.2s ease-in-out;
}
.settings:hover  .liniute .left{
    transform: rotate(45deg);
    position: absolute;
    margin-top: 7px ;
}
.right{
    transition: transform 0.2s ease-in-out;
}
.settings:hover .liniute .right{
    margin-top: 7px ;
    transform: rotate(-45deg);
    position: absolute;
}
.wrap_span div{
    transition: 0.5s;
}
.settings:hover .wrap_span div{
    width: 33%;
    
}

.wrap_pics div{
    position: relative;
    margin: auto 0;
    width: 100%;
}

.wrap_pics img.trash{
    background-color: #0e0314a9 ;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 27;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: none;
    border-radius: 5px;
}

.desc_new{
    width: 100%;
    background: transparent;
    resize: none;
    display: block;
    font-family: 'Antic', sans-serif;
    font-size: 1em;
    padding: 0;
    height: 100%;
    border: none;
    outline: none;
}

.wrap_pics img.edit {
    background-color: #0e0314a9;
    position: absolute;
    right: 45px;
    bottom: 5px;
    padding: 5px;
    display: none;
    z-index: 27;
    width:30px;
    height:30px;
    border-radius: 5px;
}

.svguri{
    width: 30px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px;
}

img:not(:hover){
    transition: 0.3s ease-in-out;
}

.wrap_all:hover img:not(:hover)   {
    opacity: 0.4;

}

.wrap_single{
    position: relative;
} 

.wrap_pics div.description{
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: blanchedalmond;
    color: #0e0314 ;
    cursor: pointer;
    margin: 5px;
}
.wrap_pics div.description h1{
    margin: 0;
    padding: 5px 0;
    text-align: left;
}
.wrap_pics div.description h2{
    margin: 0;
    padding: 5px 0;
    font-family: 'Alex Brush', cursive;
    font-size: 1.5em;
}

.wrap_pics div.description h3{
    text-align: right;
    margin: 0;
    padding: 5px 0;
    font-family: 'Alex Brush', cursive;
    font-size: 1.5em;
}

.wrap_pics div.description p{
    padding: 5px 0;
    margin :0;
    height: auto;
    word-break: break-all;

    /* overflow-wrap: break-word; */
}


.settings h2:hover{
    text-decoration: underline;
    text-decoration-color: blanchedalmond;
}















@media only screen and (max-width: 1000px) {
    .wrap_all{
        padding: 20px;
    }
    .wrap_pics{
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    .settings{
        top: 20px;
    }

    .wrap_pics div.description h3 {
        padding: 0;
    }
    .wrap_pics div.description h2 {
        padding: 0;
    }
    .wrap_all p{
        font-size: 1em;
    }

}


@media only screen and (max-width: 750px) {
    .wrap_all{
        padding: 10px;
    }
    .wrap_pics{
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
    .settings{
        top: 5px;
    }
    .wrap_pics svg#trash {
        right: 5px;
        bottom: 5px;
        z-index: 27;
        width: 15px;
        height: 15px;
        padding: 5px;
        display: none;
        border-radius: 5px;
    }

    .wrap_pics svg#edit {
        right: 35px;
        bottom: 5px;
        padding: 5px;
        display: none;
        z-index: 27;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .svguri {
        width: 30px;
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .settings {
        top: 0px;
    }
}

@media only screen and (max-width: 450px) {
    .wrap_all{
        padding:0px;
    }
    
    .wrap_pics{
        display: grid;
        grid-template-columns: repeat(2, minmax(10px, 1fr));
    }
    .wrap_pics img#plus{
        width: 40%;
    }
    .settings{
        width:15px;
        height:15px;
        border: 1px solid white;
    }
    .settings:hover{
        right:35px;
        width: 45px;
        height: 150px;
    }
    .settings h2{
        font-size: 10px;
        text-align: center;
    }
    .liniute span{
        width: 7px;
        height: 1px;
        margin: 1px auto;
    }
    div.liniute{
        padding: 4px 0;
        
    }
    .settings .options{
        padding: 5px 0;
    }
    .settings:hover .liniute .right, .settings:hover .liniute .left{
        width: 15px;
        margin-top: 5px;
    }
    .wrap_pics div.description h3 {
        font-size: 1.5em;
    }

    .wrap_pics div.description h2 {
        font-size: 1.5em;
    }

    .wrap_all p {
        font-size: 1.5em;
    }
    
}

#adauga_foto{
    position: fixed;
    top:25vh;
    width: 100%;
    text-align: center;
    font-family: 'Alex Brush',cursive;
    font-size: 3rem;
    display: none;
    color: #ffebcd;
    
}
 
#submit_pic{
    /* display: none; */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* overflow: hidden; */
    position: fixed;
    top:35vh;
    height: 142px;
    z-index: 5;
    display: flex;
    justify-content: center;
}

#submit_link , #submit_desc{
    width: 100%;
    display: flex;
    height: 100px;
    position: absolute;
    word-wrap: break-word;
    top: 20px;
}

#submit_pic img{
    width: 5%;
    margin: auto 10px;
    cursor: pointer;
}

#link, #desc{
    width: 100%;
    height: 100px;
    padding: 2px;
    box-sizing: border-box;
    margin-left: 5%;
    border: 0;
    outline: 1px solid #0e0314;
    background-color: #ffebcd;
    border-radius: 5px;
    font-family: 'Antic',sans-serif;
    font-size: 1em;
}

::placeholder{
    font-family: 'Alex Brush', cursive;
    font-size: 1em;
}

#submit_pic{
    transform: translateX(100vw);
}

#submit_desc{
    transform: translateX(100vw);
}
